body {
  font-family: "Patrick Hand", cursive;
}

.container {
  padding: 0 20px;
  margin: 0px auto;
  max-width: 1600px;
}

.header {
  padding: 30px 0;
}

.header__menu-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 931px) {
  .header__menu-body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 930px) {
  .header__menu-body {
    position: absolute;
    left: -100%;
    top: 0;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    padding: 100px 20px 0;
    -webkit-transition: 0.6s all ease 0s;
    transition: 0.6s all ease 0s;
  }
  .header__menu-body.active {
    left: 0;
    -webkit-transition: 0.6s all ease 0s;
    transition: 0.6s all ease 0s;
  }
}

@media (max-width: 425px) {
  .header__menu-body {
    width: 100%;
  }
}

@media (min-width: 931px) {
  .header__menu-item {
    padding: 0 18px;
  }
}

@media (max-width: 930px) {
  .header__menu-item {
    position: relative;
    margin-bottom: 35px;
    padding-bottom: 15px;
  }
  .header__menu-item.link-active {
    position: relative;
  }
  .header__menu-item.link-active:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #fff;
  }
  .header__menu-item:hover:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #fff;
  }
}

.header__menu-link {
  color: #fff;
  font-family: "Comfortaa", cursive;
  font-size: 22px;
}

@media (min-width: 931px) {
  .header__menu-link {
    padding: 0 25px 10px;
  }
  .header__menu-link.link-active {
    border-bottom: 2px solid #fff;
  }
  .header__menu-link:hover {
    border-bottom: 2px solid #fff;
  }
}

@media (max-width: 930px) {
  .header__burger {
    width: 35px;
    height: 32px;
    position: relative;
  }
  .header__burger:after, .header__burger:before, .header__burger span {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 3px;
    background: #fff;
  }
  .header__burger:after {
    top: 0;
  }
  .header__burger:before {
    bottom: 0;
  }
  .header__burger span {
    top: 14px;
  }
}

.intro {
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  background: url("../../img/bg.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100Vh;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 70px;
}

@media (max-width: 1024px) {
  .main__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main__block {
  max-width: 500px;
}

@media (min-width: 1025px) {
  .main__block:first-child {
    margin-right: 100px;
  }
}

@media (max-width: 1024px) {
  .main__block:last-child {
    margin-bottom: 100px;
  }
}

.main__block-person {
  width: 105%;
}

.main__title {
  text-align: center;
  font-size: 90px;
  color: #fff;
  margin-top: 60px;
}

@media (max-width: 930px) {
  .main__title {
    margin-top: 10px;
  }
}
