$patrick: 'Patrick Hand', cursive;
$comfort: 'Comfortaa', cursive;

body {
    font-family: $patrick;
}
.container {
    padding: 0 20px;
    margin: 0px auto;
    max-width: 1600px;
}

// header
.header {
    padding: 30px 0;
    &__menu {
        &-body {
            display: flex;
            @media (min-width: 931px) {
                justify-content: center;
            }
            @media (max-width: 930px) {
                position: absolute;
                left: -100%;
                top: 0;
                height: 100vh;
                flex-direction: column;
                background: rgba(0,0,0,0.5);
                padding: 100px 20px 0;
                transition: 0.6s all ease 0s;
                &.active {
                    left: 0;
                    transition: 0.6s all ease 0s;
                }
            }
            @media (max-width: 425px) {
                width: 100%;
            }
        }
        &-item {
            @media (min-width: 931px) {
                padding: 0 18px;
            }
            @media (max-width: 930px) {
                position: relative;
                margin-bottom: 35px;
                padding-bottom: 15px;
                &.link-active {
                    position: relative;
                    &:after {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background: #fff;
                    }
                }
                &:hover:after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background: #fff;
                }
            }
        }
        &-link {
            color: #fff;
            font-family: $comfort;
            font-size: 22px;
            @media (min-width: 931px) {
                padding: 0 25px 10px;
                &.link-active {
                    border-bottom: 2px solid #fff;
                }
                &:hover {
                    border-bottom: 2px solid #fff;
                }
            }
        }
    }
    &__burger {
        @media (max-width: 930px) {
            width: 35px;
            height: 32px;
            position: relative;
            &:after, &:before, span {
                position: absolute;
                content: ' ';
                width: 100%;
                height: 3px;
                background: #fff;
            }
            &:after {
                top: 0;
            }
            &:before {
                bottom: 0;
            }
            & span {
                top: 14px;
            }
        }
    }
}

// intro 
.intro {
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    background: url('../../img/bg.png') center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100Vh;
}
// main 
.main {
    &__content {
        display: flex;
        justify-content: space-around;
        margin-top: 70px;
        @media (max-width: 1024px) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
    &__block {
        max-width: 500px;
        @media (min-width: 1025px) {
            &:first-child {
                margin-right: 100px;
            }
        }
        @media (max-width: 1024px) {
            &:last-child {
                margin-bottom: 100px;
            }
        }
        &-person {
            width: 105%;
        }
    }
    &__title {
        text-align: center;
        font-size: 90px;
        color: #fff;
        margin-top: 60px;
        @media (max-width: 930px) {
            margin-top: 10px;
        }
    }
}